@font-face {
  font-family: 'gilroy';
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-style: normal; 
 font-weight: normal; 
}
@font-face {
  font-family: 'gilroy-light';
  src: url("../fonts/Gilroy-Light.otf");
  font-style: normal; 
 font-weight: normal; 
}
h1{
  font-family: 'gilroy';
  color:red;
  font-size: 50px;
}
.hi{
  font-family: 'gilroy';
  font-size: 30px;
}
.hi2{
  font-family: 'gilroy';
  font-size: 30px;
  margin-left: 50%;
}
body{
  font-family: 'gilroy-light';
}
#main-header{
  border-bottom: 2px solid #000;
  position: absolute;
  width: 100%;
  background: rgba(255,255,255,.7);
  top: 0px;
  height: 100px;
  display:inline;
}
nav {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    padding:10px; /*добавляем отступ*/
    text-align: right;
    font-size: 25px;
    display: inline;
    position: relative;
  }
  li {
    display: inline;
  }
  .imag {
    display: inline;
  }
  .imag {
    /* display: inline-block; */
    height: 494px;
    width: 473px;
    background-size: cover;
    background-position: center; 
    background-image: url(../images/egormain.jpg);
    float:left; 
  }
.cat {
    height: 338px;
    width: 25.5%;
    background-size: cover;
    background-position: center; 
    background-image: url(../images/cat_accaunt.jpg);
    float:right; 
  }  
  /* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
.one {
  font-size: 30px;
  width: 500px;
  margin: left;
  display: inline-block;
  text-align: justify;
  border:1px solid red;
  padding:5px;
}
.otvet {
  font-size: 30px;
  margin: left;
  display: inline-block;
  border:1px solid red;
}
.vopros h2 {
  margin-left: 45%;
  margin-top: 130px;
  font-family: 'gilroy';
  font-size: 30px;
}
.arti {
  font-size: 30px;
  /* display: inline-block; */
  /* text-align: justify; */
  padding:5px;
  width: 1005px;
  margin: auto;
}
article {
  max-width: 32%;
  display: inline-block;
border:1px solid red;
margin: auto;
display: inline-block;
}
.imag2 {
  display: inline; 
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center; 
  background-image: url(../images/car.svg);
  float:left; 
}
.imag3 {
display: inline;
height: 200px;
width: 100%;
background-size: cover;
background-position: center; 
background-image: url(../images/technology.svg);
float:left; 
}
.imag4 {
display: inline;
height: 200px;
width: 100%;
background-size: cover;
background-position: center; 
background-image: url(../images/travel.svg);
float:left;
}
form,input{
  font-size: 30px;
}