$blockbgcolor: orange;
@mixin blockcolor ($active) {
    &:active {
        background-color: $active;
    }
}



.block1 {
    width: 200px;
    height: 200px;
    background-color: $blockbgcolor;
    display: inline-block;
    @include blockcolor(lighten($blockbgcolor, 10%));
    }
.block2 {
    width:200px;
    height: 200px;
    position:relative;
    background-color: $blockbgcolor;
    display: inline-block;
}