@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

header {
font-family: 'Sedgwick Ave Display', cursive;
border-bottom:10px solid #0000FF;
margin-bottom: 20px;
}
body {
    /* text-shadow: 5px 10px 5px; */
}
section {
    width: 1000px;
    margin:auto;
}
article {
    max-width: 33%;
    display: inline-block;  
    box-shadow: 5px 5px 10px rgba(0.0,0,.2);
    /* padding: 5px 5px; */
}
article img {
    max-width: 100%;
}
.imag {
    background:url(../images/cat.webp);
    height: 337px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
a {
    text-decoration: underline overline;
    text-decoration-color: #f00;
}
p {
    letter-spacing: .5px;
    word-spacing: 5px;
    /* text-indent: 50px; */
    text-align: justify;
}