@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

header {
font-family: 'Sedgwick Ave Display', cursive;
border-bottom:10px solid #0000FF;
margin-bottom: 20px;
}

section {
    width: 1000px;
    margin:auto;
}
article {
    max-width: 33%;
    display: inline-block;
}
article img {
    max-width: 100%;
}
.imag {
    background:url(../images/cat.webp);
    height: 337px;
    width: 100%;
    background-size: cover;
    background-position: center;
}