@font-face {
  font-family: 'gilroy';
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-style: normal; 
 font-weight: normal; 
}
@font-face {
  font-family: 'gilroy-light';
  src: url("../fonts/Gilroy-Light.otf");
  font-style: normal; 
 font-weight: normal; 
}
/* *{
  border:1px solid red;} */
body{
  background-color: RGB(249,249,249);
  font-family: 'gilroy-light', 'sans-serif';
}
.header{
  font-family: 'gilroy';
  font-size:3.5vw;
  color:#ee5639;;
  display: block;
  border-bottom: 2px solid #000;
  margin:10px 0 30px 60px;
  /* padding:10px; */
}
.my-navigation-flex{
  width: 100%;
  position: absolute;
  top: 10px;
}
.my-navigation-flex ul{
  font-family: 'gilroy','sans-serif';
  list-style: none; /*убираем маркеры списка*/
  font-size: 3vw;
  display: flex;
  padding:5px 5px 5px 5px;
  align-items: center;
  width:100%;
  justify-content: flex-end;
}
/* .header{
  border-bottom: 2px solid #000;
  position: absolute;
  width: 100%;
  background: rgba(255,255,255,.7);
  top: 0px;
  height: 100px;
  display:inline;
} */
form,input{
  font-size: 30px;
  margin:10px 10px 10px 10px;
}
.wrapper{
  padding:50px;
  display: flex;
  flex-direction: row;
  /* align-self: center; */
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item{
  max-width: 310px;
  border:3px solid white;
text-align: center;
background-color: white;
}
.flex-item:hover{
  border:3px solid #ee5639;;
}
.flex-item.content{
  text-align: center;
  padding: 10px;
  margin:5px;
}
.flex-item.content:hover{
  text-align: center;
  padding: 10px;
  margin:5px;
  border:1px solid white;
}
.flex-item.content.zagolovok{
font-family: 'gilroy';
font-size: 24px;
font-weight: 700;
background-position: center center;
}
.flex-item.content.push{
  background-color:#ee5639;;
}
.flex-item.content.push:focus{
  background-color:black;
  transform: 1s;
}
.footer{
  background-color: black;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-row{
  text-align: center;
  color:white;
}
.board-messadge {
 margin: 10px auto;
  display: block;
  padding:15px;
border-radius: 16px;
    background-color: #ee5639;
    max-width: 500px;
    border-color: transparent;
    border-style: solid;

}
.hi-messadge {
text-align: center;
  display: block;
  color: #000000;
  font-size: 3.5vw;
  font-family: 'Gilroy',Arial,sans-serif;
  border-color: transparent;
  border-style: solid;
}
h1{
  font-size: 40px;
}
.img-egor{
margin:auto;
display:block;
background-image: url(../img/egormain_.svg);
height: 394px;
width: 373px;
background-size: cover;
background-position: center;
} 
